<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script th:inline="javascript">
        $(function () {
            //메시지 출력
            let m = [[${msg}]];
            if (m != null) {
                alert(m);
            } //복사하여 index.html에도 넣기
        });
    </script>
</head>
<body class="guestbackground">
<header>
    <th:block th:insert="~{fragments::header(${session.member})}"/>
</header>
<section>
    <div class="content">
        <div class="write-form">
            <h2 class="login-header" style="color: white">상세 보기</h2>
            <div>
                <div class="t_content p-15 content_h">NUM</div>
                <div class="d_content p-35 content_h" th:text="${guest.g_num}"></div>
                <div class="t_content p-15 content_h">ID</div>
                <div class="d_content p-35 content_h" th:text="${guest.m_id}"></div>
            </div>
            <div>
                <div class="t_content p-15 content_h">작성일</div>
                <div class="d_content p-85 content_h" th:text="${guest.g_date}"></div>
            </div>
            <div>
                <div class="t_content2 p-15 content_h3">내용</div>
                <div class="d_content2 p-85 content_h2_2"
                     style="overflow:auto;" th:text="${guest.g_contents}"></div>
            </div>
        </div>
        <!--수정,삭제,돌아가기 버튼-->
        <div>
            <div class="btn-area2">
                <button class="login-btn2" id="upbtn">수정</button>
                <button class="login-btn2" id="delbtn">삭제</button>
                <button class="login-btn2" id="backbtn">뒤로</button>
            </div>
        </div>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
<script th:inline="javascript">
    //수정/삭제 버튼 숨기기
    $("#upbtn").hide();
    $("#delbtn").hide();
    let mid = [[${session.member.m_id}]];//로그인한 ID
    let gid = [[${guest.m_id}]];//글 작성자 ID
    if (mid == gid) { //두 아이디가 같다면
        $("#upbtn").show(); //수정 버튼이 보인다
        $("#delbtn").show(); //삭제 버튼이 보인다
    }

    //취소 버튼
    $("#backbtn").click(function backbtn() {
        let url = "/guestList?";
        const searchDto = [[${session.sdto}]];
        let colname = "";
        let keyword = "";
        if (searchDto != null) {
            colname = searchDto.colname;
            keyword = searchDto.keyword;
        }
        let page = [[${session.pageNum}]];

        if (colname == null || colname == "") { //검색 안한 목록 이동
            url += `pageNum=${page}`;
        } else { //검색한 결과 목록으로 이동.
            url += `colname=${colname}&keyword=${keyword}&&pageNum=${page}`;
        }
        console.log(url);
        location.href = url;
    });

    //삭제 버튼
    $("#delbtn").click(function () {
        let con = confirm("방명록을 삭제하시겠습니까?");
        if (con == true) {
            let gnum = [[${guest.g_num}]];
            location.href = `/guestDelete?g_num=${gnum}`;
        }
    });

    //수정 버튼
    $("#upbtn").click(function () {
        let gnum = [[${guest.g_num}]];
        location.href = `/guestUpdate?g_num=${gnum}`;
    });
</script>
</html>