<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>Paragon Board</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script th:inline="javascript">
        $(function (){
            //bxslider 설정용 스크립트
            $(".slider").bxSlider({
                auto: true, //자동 순환 회전.
                slideWidth: 600, //슬라이더 가로 너비.
            });

            //메시지 출력
            let m = [[${msg}]];
            if (m != null){
                alert(m);
            } //복사하여 index.html에도 넣기
        });
    </script>
</head>
<body>
<button id="topButton" onclick="scrollToTop()">Top</button>
<header>
    <th:block th:insert="~{fragments::header(${session.member})}"/>
</header>
<section>
    <div class="typewriter">
        <h1 id="typingtext" class="typingtext">레거시에 오신것을 환영합니다!</h1>
    </div>
    <div id="scroll-indicator" class="hidden">
        <p>Scroll Down</p>
    </div>
    <hr>
    <h1 class="videologo">Paragon Gameplay Trailer</h1>
    <video controls class="video-container2">
    <source src="../mp4/ParagonGameplay.mp4" type="video/mp4">
    </video>
    <hr>
    <h1 class="screenshotlogo">Paragon Screenshot</h1>
    <div class="content-home">
        <div class="slider">
            <div><img src="images/steelmain.jpg"></div>
            <div><img src="images/wraith.jpg"></div>
            <div><img src="images/gideon.jpg"></div>
            <div><img src="images/crunchfight.jpg"></div>
            <div><img src="images/murdockfight.jpg"></div>
            <div><img src="images/Twinblast.webp"></div>
            <div><img src="images/steelsolo.jpg"></div>
            <div><img src="images/gideonfight.jpg"></div>
            <div><img src="images/kalari.jpg"></div>
            <div><img src="images/auroraskill.jpg"></div>
        </div>
    </div>
    <hr>
    <div class="video-container">
        <video class="background-video" autoplay muted loop>
            <source src="../mp4/Paragon_trailer_all.mp4" type="video/mp4">
        </video>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer2}"/>
</footer>
</body>
<script>
    const backgroundVideos = document.querySelectorAll('.background-video');
    const videoSources = ['../mp4/Paragon_trailer_all.mp4'];
    let currentVideoIndex = 0;

    function playNextVideo() {
        backgroundVideos[currentVideoIndex].pause();
        currentVideoIndex = (currentVideoIndex + 1) % backgroundVideos.length;
        backgroundVideos[currentVideoIndex].play();
    }

    backgroundVideos[currentVideoIndex].addEventListener('ended', playNextVideo);

    backgroundVideos.forEach((video, index) => {
        video.src = videoSources[index];
        if (index === 0) {
            video.play();
        }
    });

    var text = '레거시에 오신것을 환영합니다!';
    var charIndex = 0; // 0으로 초기화하여 처음부터 타이핑 상태로 시작

    function typeWriter() {
        var textElement = document.getElementById("typingtext");

        if (charIndex < text.length) {
            textElement.innerHTML = text.substring(0, charIndex + 1);
            charIndex++;
        }

        if (charIndex === text.length) {
            setTimeout(function() {
                textElement.innerHTML = text; // 5초 동안 텍스트를 표시한 후에 원래 텍스트로 설정
            }, 5000); // 5초 동안 텍스트 표시
        }

        setTimeout(typeWriter, 150); // 150ms마다 타이핑 반복
    }

    typeWriter();

    document.addEventListener('DOMContentLoaded', function () {
        var scrollIndicator = document.getElementById('scroll-indicator');

        // 스크롤 이벤트 리스너 추가
        window.addEventListener('scroll', function() {
            // 사용자가 스크롤할 때 숨김
            scrollIndicator.classList.add('hidden');
        });

        // 초기에는 표시
        scrollIndicator.classList.remove('hidden');

        // 맨 위로 스크롤할 때 다시 표시
        window.addEventListener('scroll', function() {
            if (window.scrollY === 0) {
                scrollIndicator.classList.remove('hidden');
            }
        });
    });

    // 스크롤 이벤트를 감지하여 top 버튼 표시/숨김
    window.addEventListener("scroll", function() {
        if (document.documentElement.scrollTop > 100 || document.body.scrollTop > 100) {
            document.getElementById("topButton").style.display = "block";
        } else {
            document.getElementById("topButton").style.display = "none";
        }
    });

    // 맨 위로 스크롤 함수
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
</script>
</html>