<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initioal-scale="1">
    <title>Login</title>
    <script src="js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script th:inline="javascript">
        $(function (){
            //메시지 출력
            let m = [[${msg}]];
            if (m != null){
                alert(m);
            } //복사하여 index.html에도 넣기
        });
    </script>
</head>
<body class="loginbackground">
<header>
    <th:block th:insert="~{fragments::header(${session.member})}"/>
</header>
<section>
    <div class="content">
        <form th:action="@{loginProc}" method="post" class="login-form">
            <h2 class="login-header" style="color: white">로그인</h2>
            <input type="text" class="login-input" name="m_id" autofocus required placeholder="아이디">
            <input type="password" class="login-input" name="m_pwd" placeholder="비밀번호" required>
            <input type="submit" class="wr-btn" value="로그인">
        </form>
    </div>
</section>
<footer>
    <th:block th:insert="~{fragments::footer}"/>
</footer>
</body>
</html>